header {
    background-color: rgba(41, 9, 221, 0.774);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #10e7f7;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #e41a1a;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-flex;
    text-align: center;
    width: 30%;
    vertical-aling: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #a4f310;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #9790ee;
 }
 .produtos li:active {
    border-color: #088C19;    
 }
 
 .produtos li:hover h2 {
    font-size: 34px;
 }
 
 .produtos h2 {
    font-size: 30px;
    font-weight: bold;
 }            
 .produto-descricao {
                    font-size: 18px;
 }
 
 .produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
 }
 footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
 }
 
 .copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
 }