

body{
    background-color: rgb(255, 231, 231);
    color: rgb(175, 59, 150);
    text-align: center;
    }
    
    
    
    
    
    h1{
        text-align: center;
    background-color: rgb(59, 48, 47);
    border: 10px solid rgb(255, 173, 251) ;
    
    }
    
    
    em strong {
    
        color: rgb(255, 89, 205);
    }
    
    #banner {
    
        width: 70%;
    }
    
    .itens{
        font-style: italic;
    text-align: left;
    }
    
    .beneficios{
        background-color: rgba(218, 113, 113, 0.911);
    padding: 20px;}
    
    h2{
        text-align: center;
    }
    
    .imagembeneficios{

     
        border-color: chartreuse;
        width: 50%;
       

    }

    ul{
        display: inline-block;
        vertical-align: top; 
        width:20%;
        margin-right: 15%;
        border:3px solid black ;
    }